@model IEnumerable<MICRUD.Models.Inventario>

@{
    ViewData["Title"] = "Index";
}

<h1>Inventario de Productos</h1>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                Cantidad Vendidos
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadVendidos)
            </td>
        </tr>
}
    </tbody>
</table>
